div{
	font-family: Arial;
	display: block;
}

img{
	display: block;
	margin: auto;
}

input{
	margin: auto;
	display: block;
	width: 220px;
	height: 14px;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px;
	font-family: Tahoma;
}

button{
	display: block;
	margin: auto;
	width: 240px;
	height: 40px;
	font-size: 16px;
	background-color: #21ade7;
	color: white;
	border: 2px white;
	-webkit-transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 15px;
}

button:hover {
    background-color: blue;
    color: silver;
    border: 2px solid silver;
}

body{
	background-color: lightblue;
	margin: 0px;
	margin-bottom: 50px;
}

hr{
	border:  0px;
	height: 1px;
	background-color: silver;
}

#btnEnviar{
  margin-left: 25px;
  width: 65px;
  height: 35px;
}

#txtMessage{
	margin-top: 3px;
	height: 30px;
	padding: 0;
	width: 400px;
	text-indent: 1em;
}

#txtMessage, #btnEnviar{
	display: inline-block;
	vertical-align: middle;
}

#chat_user{
	font-family: Tahoma;
	font-size: large;
}

#users{
	font-size: small;	
}

.container{
	margin: auto;
	width: 500px;
	padding: 5px;
}

.chat-footer{
	display: flex;
	width: 360px;
	padding: 5px;
}

.footer{
	position: fixed;
	height: 5%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
	background-color: #A9B0CD
}

.content.left {
	margin-right: 30px;
}

.content.right {
	margin-left: 30px;
	background: #666699;
}

.content {
	background: #A9B0CD;
	border-radius: 5px;
	font: 10pt Arial,Tahoma;
	padding: 5px;
	margin-bottom: 5px;
}

.content > .user,
.content > .message {
	display: block;
}
.content > .date {
	font-weight: normal;
}
.content > .date,
.content > .user {
	font-size: 8pt;
}
.content > .user {
	font-weight: bold;
}
.content > .message {
	font-style: italic;
}
.content.right > .message {
	text-align: right;
}